html {
  color: rgba(255, 255, 255, 0.89);
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  background-image: url(img/wp8092631\ 4.png);
  margin: 0px;
  width: 100%;
  background-color: #121212;
  position: relative;
  z-index: 1;
}

html::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.89);
}


/*navbar*/

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 2;
}

.navbar {
  position: fixed;
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #121212;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 225px;
}

.menu a{
  margin-right: 30px;
}

.menu a:hover {
  border-bottom: solid #BA0D1D 3px;
}

.subbed{
  border-bottom: solid #BA0D1D 3px;
}

.container {
  position: relative;
  z-index: 3;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}

#icon_cart{
  width: 30px;
  cursor: pointer;
}
#icon_cart:hover{
  filter: invert(79%) sepia(85%) saturate(3948%) hue-rotate(
    345deg
    ) brightness(90%) contrast(144%);
}

#log {
  width: 35px;
  background: linear-gradient(1.57deg, #FFFEFE -47.94%, rgba(255, 255, 255, 0) 88.29%), #121212;
  border-radius: 30px;
  border: solid #121212 2px;
  z-index: 3;
}

#log:hover {
  border: solid #BA0D1D 2px;
}

.account {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  right: 3px;
  top: 42px;
  backdrop-filter: blur(80px) saturate(500%);
  background-color: hsla(0, 0%, 100%, .25);
  width: 200px;
  border-radius: 10px;
}

#log1 {
  width: 50px;
  height: 50px;
  background: linear-gradient(1.57deg, #FFFEFE -47.94%, rgba(255, 255, 255, 0) 88.29%), #121212;
  border-radius: 30px;
}

.write {
  text-align: center;
  font-size: 15px;
}

#ab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  border-radius: 20px;
  margin: 5px 0px;
  padding: 2px 0px;
}

#ab:hover {
  background-color: rgb(109, 109, 109);
}

.menumobile{
  background: linear-gradient(1.57deg, #121212 -47.94%, rgba(255, 255, 255, 0) 88.29%), #121212;
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.menumobile a,.menumobile img{
  margin: 10px 5px;
}

#delete{
  width: 23px;
}

#nolog:hover{
color: #BA0D1D;
}
/*section*/

.copertina{
position: absolute;
z-index: -2;
width: 100%;
opacity: 0.15;
}

.gamebox{
  padding-top: 230px;
display: flex;
width: 100%;
justify-content: center;
align-items: center;
}

#main{
  width: 550px;
}



.description{
  padding-left: 50px;
}

#infoes{
  display: flex;
  flex-flow: column;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.69);

}

.bottone{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BA0D1D;
  border-radius: 30px ;
  padding: 10px;
  width: 120px;
  cursor: pointer;
}

.anim{
  background-color: #BA0D1D;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
/*video*/

.video{
  padding: 50px 20px;
  padding-top: 22vw;
  display: flex;
  flex-flow: column;
}

#video1{
width: 80%;
margin: auto;
margin-top: 30px;
}

.noresults{
  margin: auto;
margin-top: 30px;
}
/*recensioni*/

#recensioni{
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.blocchi{
  display: flex;
  flex-wrap: wrap;
}

.recbox{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: rgba(196, 196, 196, 0.2);
border-radius: 10px;
margin: 5px;
padding: 10px;
width: 145px;
}

.recbox div{
  display: flex;
  flex-flow: column;
}

.voto{
  font-size: 35px;
}

/*animazione*/
.contconf{
  position: fixed;
  top: 135px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spostati;
  animation-duration: 0.5s;
  z-index: 9;
}
.confirmed{
  width: 250px;
  background-color: #121212;
  display: flex;
  flex-flow: column;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.confirmed img{
  width: 80px;
  margin: 20px 0px;
}

.confirmed h3{
  width: 204px;
  padding-bottom: 20px;
  font-size: 20px;
}

@keyframes spostati {
  from {  top: 125px;}
  to {  top: 135px;}
}

/*footer*/
.footer{
  color: rgba(255, 255, 255, 0.39);
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
#credit{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align:start;
  padding: 20px 10px;
}
#cen{
  text-align: center;
}
#credit div{
  width: 250px;
}


#credit img{
  width: 150px;
}

#euro{
  margin-left: 90px;
}

#credit2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}



#credit2 img{
  width: 50px;
}

#social{
  display: flex;
}
#social img{
  margin: 15px;
}

.mobile{
  display: none;
  margin: 5px;
}

#logomobile{
  width: 75px;
}
#burger{
  width: 23px;
  z-index: 10;
}

#pay{
  width: 400px !important;
}

@media only screen and (max-width: 950px){
.logo_addr{
  display: none;
}

.mobile{
  display:  flex;
}

.menu{
  display: none;
}

.card span{
  font-size: 18px;
}

}

@media only screen and (max-width: 780px){

#titolo{
  font-size: 18px;
}
#bottone{
  font-size: 18px;
}

#credit, #credit2{
  flex-flow: column;
  text-align: center;
}

#credit div{
  margin: 5px 0px;
}

#credit img{
  margin: 5px 0px;
}

#euro{
  margin-left: 0px;
}

.spot{
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.recbox{
  font-size: 15px;
}

.gamebox{
  flex-flow: column;
  align-items: center;
}

.description{
  padding-left: 10px;
}

#main{
  width: 350px;
}

}

@media only screen and (max-width: 500px){

  #titolo{
    font-size: 16px;
  }
  #bottone{
    font-size: 13px;
  }

  #pay{
    width: 300px !important;
  }

  #main{
    width: 300px;
  }

  .gamebox{
    padding-top: 120px;
  }
}