html {
  color: rgba(255, 255, 255, 0.89);
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  background-image: url(img/wp8092631\ 4.png);
  margin: 0px;
  width: 100%;
  background-color: #121212;
  position: relative;
  z-index: 1;
}

html::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.89);
}


/*navbar*/

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 2;
}

.navbar {
  position: fixed;
  top: 0px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: #121212;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 225px;
}

.menu a{
  margin-right: 30px;
}

.menu a:hover {
  border-bottom: solid #BA0D1D 3px;
}

.subbed{
  border-bottom: solid #BA0D1D 3px;
}

.container {
  position: relative;
  z-index: 3;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
}

#icon_cart{
  width: 30px;
  cursor: pointer;
}
#icon_cart:hover{
  filter: invert(79%) sepia(85%) saturate(3948%) hue-rotate(
    345deg
    ) brightness(90%) contrast(144%);
}

#log {
  width: 35px;
  background: linear-gradient(1.57deg, #FFFEFE -47.94%, rgba(255, 255, 255, 0) 88.29%), #121212;
  border-radius: 30px;
  border: solid #121212 2px;
  z-index: 3;
}

#log:hover {
  border: solid #BA0D1D 2px;
}

.account {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  right: 3px;
  top: 42px;
  backdrop-filter: blur(80px) saturate(500%);
  background-color: hsla(0, 0%, 100%, .25);
  width: 200px;
  border-radius: 10px;
}

#log1 {
  width: 50px;
  height: 50px;
  background: linear-gradient(1.57deg, #FFFEFE -47.94%, rgba(255, 255, 255, 0) 88.29%), #121212;
  border-radius: 30px;
}

.write {
  text-align: center;
  font-size: 15px;
}

#ab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  border-radius: 20px;
  margin: 5px 0px;
  padding: 2px 0px;
}

#ab:hover {
  background-color: rgb(109, 109, 109);
}

.menumobile{
  background: linear-gradient(1.57deg, #121212 -47.94%, rgba(255, 255, 255, 0) 88.29%), #121212;
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9;
}
.menumobile a,.menumobile img{
  margin: 10px 5px;
}

#delete{
  width: 23px;
}

#nolog:hover{
  color: #BA0D1D;
}

/*header*/

.full-container {
  display: flex;
  flex-direction: column;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-width:  100%;
  margin-top: 55px;
  height: 800px;
}

.box {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.sfondo {
  display: flex;
  background-color: #121212;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  filter: drop-shadow(2px 1px 10px rgba(255, 255, 255, 0.3));
  border-radius: 10px;
}

.slide {
  border-radius: 10px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
      opacity: .2
  }
  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .2
  }
  to {
      opacity: 1
  }
}

@-webkit-keyframes fade2 {
  from {
      opacity: .08
  }
  to {
      opacity: .2
  }
}

@keyframes fade2 {
  from {
      opacity: .08
  }
  to {
      opacity: .2
  }
}


.copertina {
  width: 613.33px;
  height: 360px;
  margin: 0px 2px;
}

.scritta {
  position: absolute;
  display: flex;
  flex-flow: column;
  bottom: 70px;
  left: 30px;
}

#titolo {
  font-size: 35px;
  width: 180px;
  font-family: 'Rubik', sans-serif;
}

#bottone {
  background-color: #BA0D1D;
  margin-top: 20px;
  padding: 2px 8px;
  text-align: center;
  font-size: 15px;
  border-radius: 25px;
  width: 80px;
}

.mainnav {
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.dot {
  margin: 5px;
  width: 8px;
  height: 8px;
  background-color: #FFFEFE;
  border-radius: 20px;
  cursor: pointer;
}




.backim {
  opacity: 0.2;
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-animation-name: fade2;
  -webkit-animation-duration: 1.5s;
  animation-name: fade2;
  animation-duration: 1.5s;
  z-index: -3;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0px;
  /* background: linear-gradient(180deg, #121212 -0.63%, rgba(18, 18, 18, 0) 31.55%, #121212 90.83%), rgba(18, 18, 18, 0.5);*/
}


/*sezione*/

.section {
  display: flex;
  flex-flow: column;
  padding-top: 30px;
}

.spot {
  display: flex;
  justify-content: space-around;
}

.block {
  padding-top: 50px;
  width: 300px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.block span {
  font-family: 'Scope One', serif;
  padding-top: 5px;
  text-align: center;
  font-size: 17px;
}

.block img {
  width: 40px;
  border-radius: 30px;
}

.giochi {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}

.scroll {
  scroll-behavior: smooth;
  margin-top: 50px;
  overflow-x: hidden;
  display: flex;
  width: 625px;
}

#intes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 620px;
}

#intes a{
  color: rgba(255, 255, 255, 0.69);
  font-size: 16px;
  border-bottom: solid transparent 1px;
}

#intes a:hover{
  color: rgba(255, 255, 255, 0.89);
  border-bottom: solid rgba(255, 255, 255, 0.89) 1px;
}

/*copiati*/

.card {
  display: flex;
  flex-flow: column;
  width: 191px;
  background: rgba(196, 196, 196, 0.04);
  border-radius: 5px;
  margin: 5px 10px;
}

.pic {
  border: 1px solid #000000;
  margin-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.acquista:hover {
  background-color: #BA0D1D;
}

.sistema{
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: 100px;
}

.acquista {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 26px;
  align-items: center;
  border: 2px solid #BA0D1D;
  width: 105px;
  margin: 10px 0px;
  border-radius: 40px;
}

.carrello {
  width: 25px;
  background-color: #BA0D1D;
  padding: 5px 7px;
  margin: 0px;
  margin-right: 5px;
  border-radius: 13px;
}

.prezzo {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

.anim{
  background-color: #BA0D1D;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.mainnav2 {
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.dot2 {
  margin: 5px;
  width: 8px;
  height: 8px;
  background-color: #FFFEFE;
  border-radius: 20px;
  cursor: pointer;
}

.color {
  background-color: #BA0D1D;
}



#offerta{
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rec{
  padding-bottom: 150px;
}


#recontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

#recensioni{
  display: flex;
  flex-flow: column;
}

.blocchi{
  display: flex;
  justify-content: center;
}

.recbox{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: rgba(196, 196, 196, 0.04);
border-radius: 10px;
margin: 5px;
padding: 10px;
width: 180px;
}

.recbox div{
  display: flex;
  flex-flow: column;
}

.voto{
  font-size: 35px;
}

/*footer*/
.footer{
  color: rgba(255, 255, 255, 0.39);
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}
#credit{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align:start;
  padding: 20px 10px;
}
#cen{
  text-align: center;
}
#credit div{
  width: 250px;
}


#credit img{
  width: 150px;
}

#euro{
  margin-left: 90px;
}

#credit2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}



#credit2 img{
  width: 50px;
}

#social{
  display: flex;
}
#social img{
  margin: 15px;
}

.mobile{
  display: none;
  margin: 5px;
}

#logomobile{
  width: 75px;
}
#burger{
  width: 23px;
  z-index: 10;
}

#pay{
  width: 400px !important;
}

@media only screen and (max-width: 950px){
.logo_addr{
  display: none;
}

.mobile{
  display:  flex;
}

.menu{
  display: none;
}

.card span{
  font-size: 18px;
}

}

@media only screen and (max-width: 780px){

.background{
  height: 500px;
}


.copertina{
  width: 400px;
  height: 250px;
}

#titolo{
  font-size: 18px;
}
#bottone{
  font-size: 18px;
}

#credit, #credit2{
  flex-flow: column;
  text-align: center;
}

#credit div{
  margin: 5px 0px;
}

#credit img{
  margin: 5px 0px;
}

#euro{
  margin-left: 0px;
}

.spot{
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.blocchi{
  width: 300px;
  flex-wrap: wrap;
}

#intes{
 width: 80vw;
}

.scroll{
  width: 80vw;
}

.card{
  width: 24vw;
}

.recbox{
  font-size: 15px;
}

.sistema{
  height: 140px;
}
}

@media only screen and (max-width: 500px){
  .card{
    width: 122px;
  }

  .mainnav2{
    display: none;
  }

  #titolo{
    font-size: 16px;
  }
  #bottone{
    font-size: 13px;
  }

  .scroll{
    overflow-x: scroll;
  }

  .copertina{
    width: 300px;
    height: 160px;
  }

  #pay{
    width: 300px !important;
  }

  .background{
    height: 300px;
  }

  
.card span{
  font-size: 15px;
}
}